.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }
  @media screen and (max-width: 1100px) {
    .main {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 960px) {
    .main {
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (max-width: 780px) {
    .main {
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (max-width: 560px) {
    .main {
      padding-left: 15px;
      padding-right: 15px; } }
  .main .item {
    width: -webkit-calc(25% - 30px);
    width: calc(25% - 30px);
    text-align: center; }
